body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #444;
  letter-spacing: 1px;
}

#wrapper {
  width: 90%;
  margin:  0 auto;
}

main {
  min-height: 85vh;
}

main .banner {
  min-height: 85vh;
  background: url('/img/maxresdefault.jpg');
}

nav ul li.title {
  float: left;
  color: hotpink;
  font-weight: bold;
  margin-left: -40px;
}
nav {
  text-align: right;
}
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  cursor: pointer;
  color: hotpink;
}

nav ul li a:link {
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

#menu ul li a:active {
  text-decoration: underline;
}

form {
  width: 40%;
  padding-top: 440px;
  padding-left: 700px;
}

input {
  padding: 7px;
  border: solid 1px pink;
}

button {
  background: hotpink;
  padding: 8px;
  border: none;
  color: white;
  cursor: pointer;
}

footer {
  padding-top: 10px;
}